pkgbase = uni
	pkgdesc = Query the Unicode database from the commandline, with good support for emojis
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/arp242/uni
	arch = x86_64
	license = MIT
	makedepends = go
	source = https://github.com/arp242/uni/archive/v1.1.0.tar.gz
	sha256sums = 938712d1e750b8dcea9f42d4691b66e15dbc7c7ce0200400f20f79702dc97bac

pkgname = uni

